.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  @media screen and (max-width: 768px){
    zoom: 0.8;
  }
}

.TitleContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  @media screen and (max-width: 768px){
    flex-direction: column;
    
  }
}

.Title {
  font-size: 50px !important;
  color: #333 !important;
  margin-top: 20px !important;
}

.AI {
  color: white !important;
  background: linear-gradient(to right, #ff007d, #4d00ff) !important;
  border-radius: 10px !important;
  padding: 10px;
  align-self: center;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.DescriptionContainer{
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 2px solid #c9dbea;
  border-radius: 15px;
  width: -webkit-fill-available;
  max-width: 600px;
  margin: 20px 10px;
  padding: 10px;
  background-color: #f3f9ff;
  color: #002e56;

  @media screen and (max-width: 768px){
    font-size: smaller;
  }
}

.DescTitle{
  margin: 0 0 10px 0;
}

.Description{
  margin: 0;
  font-size: medium;
  line-height: 25px;
}

.Attention{
  font-size: smaller;
}

.Example{
  font-weight: bold;
  font-size: larger;
  margin: 0;
}

.InputContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}

.Input{
  width: 500px !important;
  margin: 0 10px !important;
  @media screen and (max-width: 768px){
    width: 350px !important;
    
    margin: 0 0 10px 0 !important;
  }
}

.WordsContainer{
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and (max-width: 768px){
    flex-direction: column;
    
  }
}

.Word{
  padding: 5px !important;
  margin: 10px !important;
  border: 1px solid #cac7c7 !important;
  border-radius: 5px !important;
}

.Loading{
  display: flex;
  margin-top: 20px;
}

.LoadingText{
  font-size: large !important;
}

.Progress{
  width: 25px !important;
  height: 25px !important;
  margin: 0 10px !important;
}

.Alert{
  width: fit-content !important;
  margin: auto !important;
  border: 2px solid #f7d5d5 !important;
}
